doctype html
html(lang='en')
  head
    title Sigma.io - Create and share data in true real-time
    meta(charset='utf8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='Releasing and receiving data on the internet could be more than a sluggish experience. Enjoy the true real-time nature of the web.')
    meta(name='author', content='Davy Duperron')
    link(href='/public/css/style.css', rel='stylesheet')
    link(rel='shortcut icon', type='image/ico', href='/public/img/logo.png')
    link(rel='apple-touch-icon', href='/public/img/logo.png')
    script(src='/socket.io/socket.io.js')
  body(data-app-width)
    main
    footer
      .row
        .cell
          p &copy; Davy Duperron
        .cell
          p You are on #{id} channel
        .cell
          a.github(href='https://github.com/yamafaktory/Sigma.io')
            span Github
    nav
      .cell-large
        .logoAndSearch
          a.logo(href='#')
          .searchUberInput
            input#searchInput(type='search', placeholder='#{id}')
            button#searchButton
      .cell-small
        a.channel
          span more
      .cell-small
    script(src='/public/js/sigma.io.min.js')