doctype html
html(lang='en')
  head
    title Sigma.io - Create and share data in true real-time
    meta(charset='utf8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='Releasing and receiving data on the internet could be more than a sluggish experience. Enjoy the true real-time nature of the web.')
    meta(name='author', content='Davy Duperron')
    link(href='/public/css/style.css', rel='stylesheet')
    link(rel='shortcut icon', type='image/ico', href='/public/img/logo.png')
    link(rel='apple-touch-icon', href='/public/apple-touch-icon.png')
    script(src='/socket.io/socket.io.js')
  body
    header
      nav
        .fixedCell
          a.logo(href='#')
        .fixedCell
          a.channel(href='/#{id}')
            span #{id}
        .fixedCell
    main
    footer
      .row
        .cell
          p &copy; Sigma.io
        .cell
          p I'm available for hire!
        .cell
          a.github(href='https://github.com/yamafaktory/Sigma.io')
            span Github
    var(data-app-width)
    script(src='/public/js/sigma.io.min.js')