!!!5
html(lang='en')
  head
    title Sigma.io
    meta(charset='utf8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='Realtime thing for real people')
    meta(name='author', content='Davy Duperron')
    link(href='/public/css/style.css', rel='stylesheet')
    link(rel='shortcut icon', type='image/ico', href='/public/img/logo.png')
    link(rel='apple-touch-icon', href='/public/apple-touch-icon.png')
    script(src='/socket.io/socket.io.js')
    //if lt IE 9
      script(src='http://html5shim.googlecode.com/svn/trunk/html5.js')
  body
    header
      nav.row
        .fixedCell
          a.logo(href='#')
        .fixedCell
          a.channel(href='/#{id}')
            span #{id}
        .fixedCell
    main
    footer.row
      .fixedCell
        span &copy; Sigma.io
      .fixedCell
        span about
    script(src='/public/js/sigma.io.min.js')